{version, {shell, "../version.sh"}}.

{libraries, ["../lib", "../out/production"]}.

{profiles, [
    {default, [
        {perform, [eunit]}
    ]},
    {rpm, [
        {perform, [eunit]}
    ]}
]}.

{tasks, [
    {modules, [
        {jsonbindc, xl_json_ebt_bindc}
    ]},
    {targets, [
	    {compile, [jsonbindc]}
    ]}
]}.

{compile, [
    {flags, [warnings_as_errors, debug_info]}
]}.
