TAGS
workspace.xml
.eunit
.backups/
ebin/
VERSION
data.index
out
lib
tags
ebin
*.beam
*~
overview.edoc
erl_crash.dump
edoc-info
.#*
*.html
*.png
*.css
Emakefile
.dialyzer_plt
erlangxl.spec
*.iml
.idea
