{subdirs, [
    "strikead_stdlib", 
    "strikead_eunit", 
    "strikead_io", 
    "strikead_csv", 
    "strikead_leveldb",
    "strikead_net",
    "strikead_json",
    "strikead_yaws",
    "persist"
]}.

{targets, [
    {prepare, [clean, depends]},
    {perform, []}
]}.

{depends, [
    {dir, "./lib"},
    {repositories, [
        {"http://build.strikead.com:8081/repo", [
            {erlando, "2.0.0.vk-13"},
            {ktuo, "0.5.0.0-9"}
        ]}
    ]}
]}.