%% Copyright
{subdirs, [
    "xl_stdlib",
    "xl_io",
    "xl_csv",
    "xl_net",
    "xl_json",
    "xl_json_binder_test",
    "xl_yaws",
    "xl_tdb",
    "persist",
    "epath"
]}.

{profiles, [
    {clean, [
        {prepare, [clean]}
    ]},
    {default, [
        {prepare, [depends]},
        {perform, []}
    ]}
]}.

{depends, [
    {dir, "./lib"},
    {repositories, [
        {"http://erlang-build-tool.googlecode.com/files", [
            {erlandox, "1.0.5"},
            {ktuo, "0.5.0.0"},
            {ebt, "1.1.5.112"},
            {jiffy, "0.8.3"},
            {yaws, "1.96"}
        ]}
    ]}
]}.
