{subdirs, [
    "xl_stdlib",
    "xl_eunit",
    "xl_io",
    "xl_csv",
    "xl_leveldb",
    "xl_net",
    "xl_json",
    "xl_json_binder_test",
    "xl_yaws",
    "persist",
    "epath"
]}.

{targets, [
    {prepare, [clean, depends]},
    {perform, []}
]}.

{depends, [
    {dir, "./lib"},
    {repositories, [
        {"http://build.strikead.com:8081/repo", [
            {erlandox, "1.0.0"},
            {ktuo, "0.5.0.0.0015"},
            {ebt, "1.0.1.0030"}
        ]}
    ]}
]}.