{version, {shell, "../version.sh"}}.

{build, {shell, "printf '%d' $BUILD_NUMBER"}}.

{libraries, ["../lib", "../out/production"]}.

{compile, [
    {resources, ["ftp-*"]},
    {flags, [warnings_as_errors, debug_info]}
]}.

{profiles, [
    {rpm, [
        {perform, [rpm, package]}
    ]}
]}.

{rpm, [
    {spec, [
        {header, [
            {'Summary', "ErlangXL / xl_net "},
            {'License', "Proprietary"},
            {'Group', "Development"},
            {'BuildArch', "noarch"},
            {'Requires', erlang},
            {'Requires', xl_stdlib},
            {'Requires', xl_io},
            {'Requires', erlandox}
        ]},
        {description, "ErlangXL / xl_net"}
    ]}
]}.
