{version, {shell, "../version.sh"}}.

{libraries, ["../lib", "../out/production"]}.

{targets, [
    {perform, [eunit]}
]}.

{tasks, [
    {modules, [
        {jsonbindc, strikead_json_ebt_bindc}
    ]},
    {targets, [
	    {compile, [jsonbindc]}
    ]}
]}.

{compile, [
    {flags, [fail_on_warning, debug_info]}
]}.
