%% Copyright
{version, {shell, "../version.sh"}}.

{build, {shell, "printf '%d' $BUILD_NUMBER"}}.

{libraries, ["../lib", "../out/production"]}.

{compile, [
    {first, ["xl_cf_pt.erl", "xl_cf.erl"]},
    {flags, [warnings_as_errors, debug_info]}
]}.

{dialyze, [
    {exclude, ["src/xl_datetime.erl", "src/xl_cf.erl"]}
]}.
