{version, {shell, "../version.sh"}}.

{build, {shell, "printf '%d' $BUILD_NUMBER"}}.

{libraries, ["../lib"]}.

{compile, [
    {flags, [warnings_as_errors, debug_info]}
]}.

{profiles, [
    {rpm, [
        {perform, [rpm, package]}
    ]}
]}.

{rpm_spec, [
    {spec, [
        {header, [
            {'Summary', "ErlangXL / xl_stdlib "},
            {'License', "Proprietary"},
            {'Group', "Development"},
            {'BuildArch', "noarch"},
            {'Requires', erlang},
            {'Requires', erlandox}
        ]},
        {description, "ErlangXL / xl_stdlib"}
    ]}
]}.
